<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container-fluid bg-dark text-white">

<div class="d-flex justify-content-center text-center m-5">
    <h1>My ASMR Playlist</h1>
</div>

<div class="d-flex justify-content-center text-center m-5">

    <!-- TODO: fix error messaging and add a border-->


<form method="post"  th:object="${user}">

    <h4>Sign Up</h4>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="sr-only" th:for="name">Name</label>
            <input class="form-control" placeholder="First Name" th:field="*{name}"/>
            <p class="text-danger" th:errors="*{name}"></p>
        </div>

        <div class="form-group col-md-6">
            <label class="sr-only">Last Name</label>
            <input class="form-control" placeholder="Last Name (Optional)"/>
        </div>
    </div>

        <div class="form-group">
            <label class="sr-only" th:for="userName">userName:</label>
            <input class="form-control" placeholder="New Username" th:field="*{userName}"/>
            <p class="text-danger" th:errors="*{userName}"></p>
        </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="sr-only" th:for="password">Password</label>
            <input class="form-control" placeholder="New Password" type="password" th:field="*{password}"/>
            <p class="text-danger" th:errors="*{password}"></p>
        </div>

        <div class="form-group col-md-6">
            <label class="sr-only">Verify Password</label>
            <input class="form-control" placeholder="Verify Password" type="password"/>
        </div>
    </div>

    <!-- trigger questions begin -->

    <div class="text-left">
        <h6>What Triggers You? <small class="text-muted">(select all that apply)</small></h6>
    </div>

    <span class="form-row d-flex">
        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Tapping ASMR" id="tapping"/>
            <label class="form-check-label">Tapping Sounds</label>
        </div>

        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Role play ARMR" id="role-play"/>
            <label class="form-check-label">Role-Play</label>
        </div>

        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Spa ASMR" id="Spa"/>
            <label class="form-check-label">Spa</label>
        </div>

        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Food ASMR" id="Food"/>
            <label class="form-check-label">Chewing</label>
        </div>
    </span>

    <span class="form-row">
        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Make-up ASMR" id="Make-up"/>
            <label class="form-check-label">Make-Up</label>
        </div>

        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Inaudible Whispering ASMR" id="Inaudible Whispering"/>
            <label class="form-check-label">Inaudible Whispering</label>
        </div>

        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="checkbox" name="triggersList" value="Audible Whispering ASMR" id="Audible Whispering"/>
            <label class="form-check-label">Audible Whispering</label>
        </div>

    </span>
        <!-- <p class="text-danger" th:errors="*{triggers}"></p> -->

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register"/>

        <p class="mt-5 mb-3">Already have an account? <a class="text-primary" href="/login">Sign In</a></p>

</form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>